apiVersion: v1
kind: Service
metadata:
  name: cookbook-backend
  labels:
    app: cookbook-backend
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: cookbook-backend

