html,body,#root {
  width: 100%;
  height: 100%; 
margin: 0 ;
padding: 0%;
box-sizing: border-box;
background-color: white;

}
section{
 display:flex;
  justify-content: space-between;
  padding: 20px;
}

.Home{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
.left h1{
  font-size: 30px;
  font-weight: bold;
  margin-top:15px;
  color: #ff5500;
  opacity: 0.8;
}
.left p {
  font-size: 10px;
  margin-top: 10px;
  color: #4e4444;
  font-size: 20px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff5500;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;

}
button:hover {
  background-color: #dd7d49;
}
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px; 
  background:transparent;
  
}
.navbar .logo img {
  height: 140px;
  width: 140px;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 25px;
}
.navbar ul li{
  font-size: 20px;
  color: #ff5500;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #ff5500;
  font-weight: 500;
  border-radius: 20px;
}
.navbar ul li a:hover {
  color: white;
  background-color: #ec9262;
  border-radius: 20px;
}

.recipes-container {
  padding: 2rem;
  background-color: #be711f;
  min-height: 100vh;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

}
.recipe-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  cursor: pointer;
  position: relative;
}
.recipe-card:hover {
  transform: translateY(-5px);
  background-color: #f09e75;
  color: white;
}
.recipe-card h4 {
  font-size: 18px;
  color: #ff5500;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.recipe-card p {
  font-size: 20px;
  color: #030303;
  margin-bottom: 10px;
  font-size: 20px;
}
.recipe-card small {
  font-size: 12px;
  color: #0e0d0d;
  font-weight: bold;
  font-size: 15px;
}
.recipe-card .icons{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 1px;
  color: #ff5500;
  font-size: 24px;
}



.model-content{
  border:none !important;

}
.model-header{
  border:none !important;
}
.error{
  margin-top: 10px;
  color:red;
  font-size: 16px;
}
.success{
  margin-top: 10px;
  color:green;
  font-size: 16px;
}
header button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff5500;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.icons-down {
  padding: 5px;
  
}
.icons-down .icon{
  color:#ff5500 ;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
.home{
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.left p {
 width: 100% !important;
}
.bg {
 margin-top: 10px;
}

}
@media only screen and (max-width: 992px) {
 .navbar-collapse {
  background-color: hsl(20, 100%, 74%);
  top: -15px;
  z-index: 9999;
  left: 0;
  position: absolute;
  height: 100vh;
  width:250px ;
}
} 